<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NHTodayWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NHWidgetPro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TodayKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>604224F41CC87E3D00677606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6042250D1CC87E3E00677606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>604225181CC87E3E00677606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6042252E1CC87ED700677606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>604225471CC8862F00677606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>604225501CC8862F00677606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
